<!-- Start footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="footer-left">
					<p>&copy; <a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="footer-right">
					{% if site.facebook_username %}
						<a href="https://www.facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a>
					{% endif %}
					{% if site.twitter_username %}
						<a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
					{% endif %}
					{% if site.gplus_username %}
						<a href="https://plus.google.com/+{{ site.gplus_username }}"><i class="fa fa-google-plus"></i></a>
					{% endif %}
					{% if site.linkedin_username %}
						<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
					{% endif %}
					{% if site.pinterest_username %}
						<a href="https://www.pinterest.com/{{ site.pinterest_username }}"><i class="fa fa-pinterest"></i></a>
					{% endif %}
					{% if site.github_username %}
						<a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->
