<header id="header">
	<!-- header top search -->
	<div class="header-top">
		<div class="container">
			<form action="">
				<div id="search">
					<input type="text" placeholder="Type your search keyword here and hit Enter..." name="s" id="m_search" style="display: inline-block;">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- header bottom
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="header-contact">
						<ul>
							{% if site.phone %}
							<li>
								<div class="phone">
									<i class="fa fa-phone"></i>
									{{ site.phone }}
								</div>
							</li>
							{% endif %}
							{% if site.email %}
							<li>
								<div class="mail">
									<i class="fa fa-envelope"></i>
									{{ site.email }}
								</div>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="header-login">
						<a class="login modal-form" data-target="#login-form" data-toggle="modal" href="#">Login / Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</header>
