<!-- ga('send', 'event', 'Chat', 'Click', 'Popup Bottom Right'); -->
<span id="phplive_btn_1420431145" onclick="phplive_launch_chat_81(0)" style="color: #0000FF; text-decoration: underline; cursor: pointer; position: fixed; bottom: 0px; right: 0px; z-index: 1000;"></span>
<script type="text/javascript">
	(function() {
	var phplive_e_1420431145 = document.createElement("script") ;
	phplive_e_1420431145.type = "text/javascript" ;
	phplive_e_1420431145.async = true ;
	phplive_e_1420431145.src = "//edialogue.org/chat/js/phplive_v2.js.php?v=81|1420431145|0|" ;
	document.getElementById("phplive_btn_1420431145").appendChild( phplive_e_1420431145 ) ;
	})() ;
</script>
