---
layout: page
---
<section id="blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area">
					<h1 class="title">{{ page.title }}</h2>
					<span class="line"></span>
					{% unless page.content == '' %}
						<p>{{ page.content }}</p>
					{% endunless %}
				</div>
			</div>
			<div class="col-md-12">
				<div class="blog-posts">
				{% for post in site.categories.blog %}
					<div class="col-md-2 col-sm-4" style="text-align: center; margin: 10px 0; padding: 10px 0;">
						<img src="{{ post.photo }}" height="128px"/>
					</div>
					<div class="col-md-10 col-sm-8" style="margin: 10px 0; padding: 10px 0;">
						<a href="{{ post.url | prepend: site.baseurl }}">
							<h2 class="post-title" style="color: #444">{{ post.title }}</h2>
							{% if post.subtitle %}
							<h3 class="post-subtitle" style="color: #777">{{ post.subtitle }}</h3>
						    {% endif %}
						</a>
						<p class="post-meta">
							Posted by:
							{% if post.author %}
							 {{ post.author }}
							{% else %}
							 {{ site.title }}
							{% endif %}
							 on {{ post.date | date: "%B %-d, %Y" }}
						</p>
					</div>
					<hr>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
