---
layout: default
---
<section id="post">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area">
					<h2 class="title">{{ page.title }}</h2>
					<span class="line"></span>
					<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
				</div>
			</div>
			<div class="col-md-12">
				<article class="post-content">
					{{ content }}
				</article>
			</div>
		</div>
	</div>
</section>
