<section id="counter">
	<div class="counter-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="counter-area">
						<div class="row">
							<!-- Start single counter -->
							<div class="col-md-3 col-sm-6">
								<div class="single-counter">
									<div class="counter-icon">
										<i class="fa fa-suitcase"></i>
									</div>
									<div class="counter-no counter">
										1275
									</div>
									<div class="counter-label">
										Projects
									</div>
								</div>
							</div>
							<!-- End single counter -->
							<!-- Start single counter -->
							<div class="col-md-3 col-sm-6">
								<div class="single-counter">
									<div class="counter-icon">
										<i class="fa fa-clock-o"></i>
									</div>
									<div class="counter-no counter">
										5275
									</div>
									<div class="counter-label">
										Hours Work
									</div>
								</div>
							</div>
							<!-- End single counter -->
							<!-- Start single counter -->
							<div class="col-md-3 col-sm-6">
								<div class="single-counter">
									<div class="counter-icon">
										<i class="fa fa-trophy"></i>
									</div>
									<div class="counter-no counter">
										350
									</div>
									<div class="counter-label">
										Awards
									</div>
								</div>
							</div>
							<!-- End single counter -->
							<!-- Start single counter -->
							<div class="col-md-3 col-sm-6">
								<div class="single-counter">
									<div class="counter-icon">
										<i class="fa fa-users"></i>
									</div>
									<div class="counter-no counter">
										875
									</div>
									<div class="counter-label">
										Clients
									</div>
								</div>
							</div>
							<!-- End single counter -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
