<section id="islam">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area" style="margin-top: 20px">
					<h2 class="title">About Islam</h2>
					<span class="line"></span>
					<h3 style="line-height: 1.1em; font-size: 1em; text-align: center">Islam is the name God gave to His religion, it is not named after a person, place or ethnic group. Islam is God’s religion which was sent to all the prophets since the first of mankind until now. Prophets such as Abraham, Lot, Moses, Jacob, Jesus, etc. with the last and final prophet being Muhammad. All prophets came with the same message, which is that God is One, He is the Creator of all that exists and we should worship Him, seek forgiveness directly from Him and only He has power over all things. Islam is a complete way of life that gives perfect guidance in every aspect of life and is the only source of salvation and true peace when one is living as intended by his Creator.</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="service-content">
					<div class="row">
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-desktop service-icon"></i>
								<h4 class="service-title">Web Development</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-paw service-icon"></i>
								<h4 class="service-title">Digital Design</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-magic service-icon"></i>
								<h4 class="service-title">Marketing</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-shopping-cart service-icon"></i>
								<h4 class="service-title">E-commerce</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-mobile service-icon"></i>
								<h4 class="service-title">App Development</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-rocket service-icon"></i>
								<h4 class="service-title">S.E.O</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
