<section id="our-team">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area">
					<h2 class="title">Our Team</h2>
					<span class="line"></span>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="our-team-content">
					<div class="row">
						<!-- Start single team member -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-team-member">
								<div class="team-member-img">
									<img src="assets/images/team-member-2.png" alt="team member img">
								</div>
								<div class="team-member-name">
									<p>John Doe</p>
									<span>CEO</span>
								</div>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								<div class="team-member-link">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<!-- Start single team member -->
						<!-- Start single team member -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-team-member">
								<div class="team-member-img">
									<img src="assets/images/team-member-1.png" alt="team member img">
								</div>
								<div class="team-member-name">
									<p>Bernice Neumann</p>
									<span>Designer</span>
								</div>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								<div class="team-member-link">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
							 	</div>
							</div>
						</div>
						<!-- Start single team member -->
						<!-- Start single team member -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-team-member">
								 <div class="team-member-img">
									 <img src="assets/images/team-member-3.png" alt="team member img">
								 </div>
								 <div class="team-member-name">
									 <p>Dvid Cameron</p>
									 <span>Developer</span>
								 </div>
								 <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								 <div class="team-member-link">
									 <a href="#"><i class="fa fa-facebook"></i></a>
									 <a href="#"><i class="fa fa-twitter"></i></a>
									 <a href="#"><i class="fa fa-linkedin"></i></a>
								 </div>
							</div>
						</div>
						<!-- Start single team member -->
						<!-- Start single team member -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-team-member">
								 <div class="team-member-img">
									 <img src="assets/images/team-member-1.png" alt="team member img">
								 </div>
								 <div class="team-member-name">
									 <p>Bernice Neumann</p>
									 <span>Designer</span>
								 </div>
								 <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								 <div class="team-member-link">
									 <a href="#"><i class="fa fa-facebook"></i></a>
									 <a href="#"><i class="fa fa-twitter"></i></a>
									 <a href="#"><i class="fa fa-linkedin"></i></a>
								 </div>
							</div>
						</div>
						<!-- Start single team member -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
