<section id="pricing-table">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area">
					<h2 class="title">Our Pricing Tables</h2>
					<span class="line"></span>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="pricing-table-content">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-table-price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
								<div class="price-header">
									<span class="price-title">Basic</span>
									<div class="price">
										<sup class="price-up">$</sup>
										25
										<span class="price-down">/mo</span>
									</div>
								</div>
								<div class="price-article">
									<ul>
										<li>2GB Space</li>
										<li>10GB Bandwidth</li>
										<li>Free Domain</li>
										<li>Free Email</li>
										<li>Unlimited Support</li>
									</ul>
								</div>
								<div class="price-footer">
									<a class="purchase-btn" href="#">Purchase</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-table-price wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="0.75s">
								<div class="price-header">
									<span class="price-title">Advanced</span>
									<div class="price">
										<sup class="price-up">$</sup>
										50
										<span class="price-down">/mo</span>
									</div>
								</div>
								<div class="price-article">
									<ul>
										<li>2GB Space</li>
										<li>10GB Bandwidth</li>
										<li>Free Domain</li>
										<li>Free Email</li>
										<li>Unlimited Support</li>
									</ul>
								</div>
								<div class="price-footer">
									<a class="purchase-btn" href="#">Purchase</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-table-price featured-price wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
								<div class="price-header">
									<span class="price-title">Professional</span>
									<div class="price">
										<sup class="price-up">$</sup>
										100
										<span class="price-down">/mo</span>
									</div>
								</div>
								<div class="price-article">
									<ul>
										<li>2GB Space</li>
										<li>10GB Bandwidth</li>
										<li>Free Domain</li>
										<li>Free Email</li>
										<li>Unlimited Support</li>
									</ul>
								</div>
								<div class="price-footer">
									<a class="purchase-btn" href="#">Purchase</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="single-table-price wow fadeInUp" data-wow-duration="1.15s" data-wow-delay="1.15s">
								<div class="price-header">
									<span class="price-title">Exclusive</span>
									<div class="price">
										<sup class="price-up">$</sup>
										125
										<span class="price-down">/mo</span>
									</div>
								</div>
								<div class="price-article">
									<ul>
										<li>2GB Space</li>
										<li>10GB Bandwidth</li>
										<li>Free Domain</li>
										<li>Free Email</li>
										<li>Unlimited Support</li>
									</ul>
								</div>
								<div class="price-footer">
									<a class="purchase-btn" href="#">Purchase</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
