<section id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12" style="text-align: center">
						<div class="title-area">
							<h2 class="title">Whats Islam Says</h2>
							<span class="line"></span>
						</div>
					</div>
					<div class="col-md-12" style="text-align: center">
						<!-- Start testimonial slider -->
						<div class="testimonial-slider">
							<!-- Start single slider -->
							<div class="single-slider">
								<div class="testimonial-img">
									<img src="/images/quran.jpg" alt="quran">
								</div>
								<div class="testimonial-content">
									<p>Quran verse..</p>
									<h6>God, <span>1:1</span></h6>
								</div>
							</div>
							<!-- Start single slider -->
							<div class="single-slider">
								<div class="testimonial-img">
									<img src="/images/quran.jpg" alt="quran">
								</div>
								<div class="testimonial-content">
									<p>Quran verse..</p>
									<h6>God, <span>1:1</span></h6>
								</div>
							</div>
							<!-- Start single slider -->
							<div class="single-slider">
								<div class="testimonial-img">
									<img src="/images/quran.jpg" alt="quran">
								</div>
								<div class="testimonial-content">
									<p>Quran verse..</p>
									<h6>God, <span>1:1</span></h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</section>
