<section id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area">
					<h2 class="title">Our Services</h2>
					<span class="line"></span>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="service-content">
					<div class="row">
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-desktop service-icon"></i>
								<h4 class="service-title">Web Development</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-paw service-icon"></i>
								<h4 class="service-title">Digital Design</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-magic service-icon"></i>
								<h4 class="service-title">Marketing</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-shopping-cart service-icon"></i>
								<h4 class="service-title">E-commerce</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-mobile service-icon"></i>
								<h4 class="service-title">App Development</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
						<!-- Start single service -->
						<div class="col-md-4 col-sm-6">
							<div class="single-service wow zoomIn">
								<i class="fa fa-rocket service-icon"></i>
								<h4 class="service-title">S.E.O</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
							</div>
						</div>
						<!-- End single service -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
